{% extends "::base.html.twig" %} 

{% block title %}Newslator - Contacto{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">
	<br><br><br>
	<h4>Contacto:</h4><br>
	<table>
		<tr><td>Carlos Moros Serrano</td></tr>
		<tr><td><i class="fa fa-envelope"></i> carlostopo@hotmail.es</td></tr>
		<tr><td><i class="fa fa-phone"></i> España: (+34) 639408845</td></tr>
		<tr><td><i class="fa fa-phone"></i> Alemania: (+49) 15903555569</td></tr>
	</table>
	<br>
</div>
{% endblock %}